.wrapper {
  padding: 100px;
}
.selectCategories {
  width: 200px;
  color: white;
  background: blue;
  height: 35px;
  border-radius: 10%;
  font-size: 18px;
}
.selectLimits {
  width: 200px;
  color: blueviolet;
  background: yellow;
  height: 35px;
  border-radius: 10%;
  font-size: 18px;
}
.wrapperInCatComp {
  display: flex;
  justify-content: space-between;
}

.flexCats {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.cardForCats {
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.cardForCats:hover {
  background-color: red;
}

.cardForCats img {
  width: 300px;
  height: 300px;
}