.aboutUsMainDiv {
  width: 100%;
  margin-top: 130px;
  display: flex;
  justify-content: center;
}

.aboutUsMainDiv h2 {
  color: #FFFFFF;
  font-size: 55px;
  line-height: 40px;
  text-transform: capitalize;
}

.aboutUsMainDivChild {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.aboutFirstFlexDiv {
  width: 50%;
}

.aboutFirstFlexDiv h4 span {
  text-transform: uppercase;
  color: #2668D6;
}

.aboutFirstFlexDiv h4 {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.flexAbout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aboutMap {
  display: flex;
  height: 60px;
  margin-left: 100px;
  align-items: center;
}

.aboutMap p {
  margin-left: 10px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
}

.aboutSecondFlexDiv {
  width: 50%;
}

.aboutSecondFlexDivChild {
  display: flex;
}

.aboutHorizontalDiv {
  width: 20px;
  height: 300px;
  background: #2668D6;
}

.aboutSecondFlexDivChild p {
  margin-left: 10px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 43px
}

.aboutSecondFlexDivChild p span {
  color: #2668D6;
  text-transform: uppercase;
}

@media only screen and (max-width: 1280px) {
  .aboutFirstFlexDiv h4 {
    font-size: 17px;
  }

  .aboutMap p {
    font-size: 16px;
  }

  .aboutSecondFlexDivChild p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 780px) {
  .aboutUsMainDiv h2 {
    font-size: 28px;
    margin-top: 0;
  }
  .aboutUsMainDivChild {
    display: block;
  }
  .aboutFirstFlexDiv {
    width: 100%;
  }
  .aboutMap {
    height: 40px;
  }
  .aboutHorizontalDiv {
    width: 25px;
    height: 150px;
  }
  .aboutSecondFlexDivChild {
    margin-top: 20px;
  }
  .aboutSecondFlexDiv {
    width: 100%;
  }
  .aboutSecondFlexDivChild p {
    line-height: 25px;
    margin-top: 0;
    font-size: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .aboutUsMainDiv {
    margin-top: 50px;
  }
  .aboutFirstFlexDiv h4 {
    font-size: 13px;
    width: 230px;
  }
  .aboutMap {
    margin-left: 0;
  }
  .aboutMap p {
    font-size: 11px;
  }
  .aboutHorizontalDiv {
    width: 20px;
    height: 260px;
  }
}