.additionalMain {
  margin-top: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.additionalMain2 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.additionalMainChild {
  width: 90%;
}
.additionalMainChild2 {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.additionalMainChild h3 {
  color: #FFFFFF;
  font-size: 40px;
  text-transform: capitalize;
}

.additionalRightPos :first-child {
  color: #FFFFFF;
  font-size: 25px;
  line-height: 160%;
}

.vehicleDiv {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.vehicleDiv p {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 160%;
}

@media only screen and (max-width: 780px) {
  .additionalMainImage {
    width: 100%;
    height: 170px;
  }
  .additionalMain {
    margin-top: 60px;
  }
  .additionalMainChild h3 {
    font-size: 24px;
  }
  .additionalMainChild2 {
    display: block;
  }
  .additionalRightPos :first-child {
    font-size: 18px;
    margin-top: 100px;
  }
  .vehicleDiv p {
    font-size: 16px;
  }
  .vehicleDiv {
    width: 235px;
  }
}
@media only screen and (max-width: 420px) {
  .additionalMain {
    margin-top: 25px;
  }
  .additionalRightPos :first-child {
    font-size: 15px;
    margin-top: -10px;
  }
  .vehicleDiv {
    margin-left: 40px;
  }
}