.mainDivContact {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactHeading2 {
  color:#FFFFFF;
  font-size: 55px;
  line-height: 67px;
  text-transform: capitalize;
}

.contactImageDiv {
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.contactImageSky {
  border-radius: 10px;
}

.contactImageDivChild {
  width: 80%;
  background: #02131F;
  display: flex;
  justify-content: center;
}

.contactDiv {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.contactFirstDiv {
  width: 50%;
}

.contactFirstDiv h4 {
  width: 150px;
  color: #2668D6;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
}

.dealerPhoneNumber {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.locationContactAddress {
  width: 260px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationContactAddress p {
  text-transform: capitalize;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}
.locationContactAddress2 {
  width: 260px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationContactAddress2 p {
  text-transform: capitalize;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.dealerSMSMessage {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.contactApp {
  margin-top: 100px;
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.dealerSMSMessage p {
  text-transform: lowercase;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.dealerPhoneNumber p {
  text-transform: lowercase;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.rightVisit {
  margin-top: 20px;
}

.contactPhoneImg {
  width: 30px;
  height: 30px;
}

.rightVisit button {
  padding: 8px 80px;
  border-radius: 10px;
  background: #2668D6;
  border: 3px solid #2668D6;
  box-sizing: border-box;
  color: #FFFFFF;
  line-height: 40px;
  font-size: 28px;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .mainDivContact {
    margin-top: 70px;
  }
  .contactHeading2 {
    font-size: 28px;
  }
  .contactImageDiv {
    display: inline-grid;
  }
  .contactImageDivChild {
    width: 100%;
  }
  .contactSectionImg img {
    width: 100%;
    height: 370px !important;
  }
  .contactSectionImg span {
    display: block !important;
  }
  .contactFirstDiv h4 {
    font-size: 22px;
  }
  .locationContactAddress img {
    width: 23px;
    height: 23px;
  }
  .locationContactAddress2 img {
    width: 23px;
    height: 23px;
  }
  /* .locationContactAddress {
    wi
  } */
  .locationContactAddress p {
    font-size: 14px
  }
  .locationContactAddress2 p {
    font-size: 14px
  }
  .contactPhoneImg {
    width: 18px;
    height: 24px;
  }
  .rightVisit button {
    padding: 0 40px !important;
    font-size: 14px;
  }
  .dealerSMSMessage p {
    font-size: 14px;
    margin-top: 0;
  }
  .dealerPhoneNumber p {
    font-size: 14px;
    margin-top: 0;
  }
  .contactMeta {
    width: 28px;
    height: 28px;
  }
  .contactApp {
    width: 120px;
  }
  .dealerPhoneNumber {
    width: 150px;
  }
  .dealerSMSMessage {
    width: 190px;
  }
  .locationContactAddress {
    width: 190px;
    margin-top: -20px;
  }
  .locationContactAddress2 {
    width: 220px;
    margin-top: -20px;
  }
}

@media only screen and (max-width: 420px) {
  .contactHeading2 {
    font-size: 25px;
    margin-top: -20px;
  }
  .contactDiv {
    display: block;
  }
  .contactImageDiv {
    margin-top: 0px;
  }
  .dealerPhoneNumber {
    margin-top: -20px;
  }
  .contactApp {
    margin-top: 0;
  }
}