.footerMainDiv {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contactFirstDiv2 {
  margin-right: 50px;
}

.locationContactAddress2 {
  width: 260px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationContactAddress2 p {
  text-transform: capitalize;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.contactFirstDiv h4 {
  width: 150px;
  color: #2668D6;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
}
.contactFirstDiv2 h4 {
  width: 150px;
  color: #2668D6;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
}

.dealerPhoneNumber {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.locationContactAddress {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.locationContactAddress p {
  text-transform: capitalize;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.dealerSMSMessage {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.contactApp {
  margin-top: 100px;
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.dealerSMSMessage p {
  text-transform: lowercase;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.dealerPhoneNumber p {
  text-transform: lowercase;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.rightVisit {
  margin-top: 20px;
}

.rightVisit button {
  padding: 8px 80px;
  border-radius: 10px;
  background: #2668D6;
  border: 3px solid #2668D6;
  box-sizing: border-box;
  color: #FFFFFF;
  line-height: 40px;
  font-size: 28px;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .footerMainImage {
    width: 257px;
    height: 386px;
  }
  .mainDivContact {
    margin-top: 70px;
  }
  .contactHeading2 {
    font-size: 28px;
  }
  .contactImageDiv {
    display: inline-grid;
  }
  .contactImageDivChild {
    width: 100%;
  }
  .contactSectionImg img {
    width: 100%;
    height: 370px !important;
  }
  .contactSectionImg span {
    display: block !important;
  }
  .contactFirstDiv h4 {
    font-size: 22px;
  }
  .locationContactAddress img {
    width: 23px;
    height: 23px;
  }
  .locationContactAddress2 img {
    width: 23px;
    height: 23px;
  }
  .locationContactAddress p {
    font-size: 14px
  }
  .locationContactAddress2 p {
    font-size: 14px
  }
  .contactPhoneImg {
    width: 18px;
    height: 24px;
  }
  .rightVisit button {
    padding: 0 40px !important;
    font-size: 14px;
  }
  .dealerSMSMessage p {
    font-size: 14px;
    margin-top: 0;
  }
  .dealerPhoneNumber p {
    font-size: 14px;
    margin-top: 0;
  }
  .contactMeta {
    width: 28px;
    height: 28px;
  }
  .contactApp {
    width: 120px;
  }
  .dealerPhoneNumber {
    width: 150px;
  }
  .dealerSMSMessage {
    width: 190px;
  }
  .locationContactAddress {
    width: 190px;
    margin-top: -20px;
  }
  .locationContactAddress p {
    margin-top: 0;
  }
  .locationContactAddress2 {
    width: 220px;
    margin-top: -20px;
  }
}
@media only screen and (max-width: 420px) {
  .footerMainDiv {
    display: block;
    margin-top: 30px;
  }
  .contactFirstDiv {
    margin-top: -100px;
    margin-left: 50px;
  }
  .contactFirstDiv2 {
    margin-left: 50px;
  }
  .contactHeading2 {
    font-size: 25px;
    margin-top: -20px;
  }
  .contactDiv {
    display: block;
  }
  .contactImageDiv {
    margin-top: 0px;
  }
  .dealerPhoneNumber {
    margin-top: -20px;
  }
  .contactApp {
    margin-top: 0;
  }
}