.headerMainDiv {
  background-image: url('/images/headerCar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh !important;
}

.servicesImage1 {
  background-image: url('/images/servicesImage1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 44%;
  height: 540px;
}

.servicesImage1Display {
  display: flex;
  justify-content: center;
}

.servicesImage1DisplayText {
  display: flex;
  justify-content: center;
}

.textInServices {
  margin-top: 180px;
  width: 690px;
  display: flex;
  justify-content: flex-start;
}

.textInServices2 {
  width: 690px;
  display: flex;
  justify-content: flex-start;
}

.textInServices2 p {
  color: #FFFFFF;
  font-size: 19px;
}

.textInServices p {
  text-transform: capitalize;
  color: #2668D6;
  font-size: 40px;
  height: 10px;
}

.servicesImage1 hr {
  background-color: #2668D6;
  height: 2px;
  border: none
}
.servicesImage2 hr {
  background-color: #2668D6;
  height: 2px;
  border: none
}
.servicesImage3 hr {
  background-color: #2668D6;
  height: 2px;
  border: none
}
.servicesImage4 hr {
  background-color: #2668D6;
  height: 2px;
  border: none
}

.logoInBox {
  margin-top: 60px;
  width: 650px;
  display: flex;
  justify-content: flex-end;
}

.servicesImage2 {
  background-image: url('/images/servicesImage2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 44%;
  height: 540px;
}

.servicesImage3 {
  background-image: url('/images/servicesImage3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 44%;
  height: 540px;
}

.servicesImage4 {
  background-image: url('/images/servicesImage4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 44%;
  height: 540px;
}

.servicesLine1 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.servicesLine2 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerContainerChild {
  width: 90%;
}

.servicesHeading {
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  margin-top: 120px;
  font-size: 55px;
}

.servicesFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerContainerChild2 {
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 670px;
  display: flex;
  justify-content: space-between;
}

.navbar p {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

.heading1Div h1 {
  margin-top: 80px;
  color: #FFFFFF;
  font-size: 70px;
  text-transform: capitalize;
}

.headerHrServices {
  width: 390px;
  display: flex;
  justify-content: space-between;
}

.hrVerticalDiv {
  display: inline-flex;
  width: 25px;
  height: 300px;
}

.servicesMapDiv {
  display: flex;
  gap: 20px
}

.servicesColumn {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicesMapDiv span {
  color: #FFFFFF;
  font-size: 40px;
  text-align: start;
}

.servicesImageDiv {
  height: 45px;
  width: 20px;
  display: flex;
  align-items: center;
}

.rightVisit p {
  color: #FFFFFF;
  font-size: 45px;
}

.rightVisit {
  margin-top: 190px;
}

.rightVisit button {
  padding: 8px 80px;
  border-radius: 10px;
  background: #2668D6;
  border: 3px solid #2668D6;
  box-sizing: border-box;
  color: #FFFFFF;
  line-height: 40px;
  font-size: 28px;
  cursor: pointer;
}

.headerContainerServices {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.headerContainerDealer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dealerMainDiv {
  background-image: url('/images/dealerImage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.headingDealer {
  color: #2668D6;
  font-size: 45px;
  text-transform: capitalize;
}

.dealerHr {
  width: 34%;
  border: none;
  background-color: #2668D6;
  height: 4px;
  display: inline-block;
}

.dealerText1 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 27px;
  width: 400px;
}

.dealerText2 {
  margin-top: 80px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 27px;
  width: 350px;
}

.dealerText2 span {
  color: #2668D6;
  text-transform: uppercase;
}

.dealerText3 {
  color: #2668D6;
  font-size: 30px;
  margin-top: 130px;
}

.dealerPhoneNumber {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.navbarBurger {
  display: none;
}

.dealerPhoneNumber p {
  text-transform: lowercase;
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.dropdownClosed {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .heading1Div h1 {
    margin-top: 20px;
    font-size: 48px;
  }
  .servicesMapDiv p {
    font-size: 31px
  }
}

@media only screen and (max-width: 780px) {
  .navbar {
    display: none;
  }
  .navbarBurger {
    display: block;
  }
  .dropdownOpened {
    background: #0B0B0B;
    width: 296px;
    height: 208px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  
  .navbarBurgerNoShow {
    display: none;
  }
  .burgerNav p {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 150%
  }
  .burgerNav {
    width: 220px;
  }

  .burgerNav :first-child {
    margin-top: 50px;
  }

  .closeButtonBurger {
    position: absolute;
    top: 50px;
    margin-left: 170px;
  }

  .heading1Div h1 {
    margin-top: 0;
    font-size: 25px;
    text-transform: uppercase;
  }

  .servicesMapDiv span {
    font-size: 19px;
  }
  
  .servicesImageDiv {
    display: block;
  }
  
  .headerHrServices {
    width: 220px;
  }

  .servicesMapDiv {
    margin-top: 10px;
  }

  .rightVisit p {
    font-size: 25px;
  }

  .rightVisit button {
    padding: 5px 50px;
    font-size: 16px;
  }

  .servicesHeading {
    font-size: 29px;
  }
  .servicesLine1 {
    display: block;
  }
  .servicesLine2 {
    display: block;
  }
  .headerContainerChild {
    width: 90%;
  }
  .servicesImage1 {
    width: 100%;
    height: 500px;
  }
  .servicesImage2 {
    width: 100%;
    margin-top: 50px;
    height: 500px;
  }
  .servicesImage3 {
    margin-top: 50px;
    width: 100%;
    height: 500px;
  }
  .servicesImage4 {
    margin-top: 50px;
    width: 100%;
    height: 500px;
  }
  .textInServices2 p {
    font-size: 14px;
  }
  .dealerMainDiv {
    background-image: url('/images/dealerImageForMedia.png');
    background-repeat: repeat;
    background-position: start;
    background-size: cover;
    width: 100%;
    height: 420px
  }
  .headingDealer {
    font-size: 25px;
  }
  .dealerHr {
    width: 454px;
    margin-top: 0;
  }
  .dealerText1 {
    font-size: 12px;
  }
  .dealerText2 {
    margin-top: 0;
    font-size: 12px;
  }
  .dealerText3 {
    font-size: 20px;
    margin-top: 0;
  }
  .dealerPhoneNumber p {
    font-size: 12px;
  }
  .dealerPhoneNumber {
    margin-top: -20px;
    width: 150px;
  }
  .phoneImageDiv{
    margin-top: 10px;
    width: 20px;
  }
  .headerMainDiv {
    height: 500px !important;
  }
  .LogoSkyImg {
    width: 70px !important;
    height: 25px !important;
  }
  .rightVisit {
    margin-top: 50px;
  }
  .rightVisit button {
    padding: 2px 40px !important;
  }
}

@media only screen and (max-width: 420px) {
  .headerMainDiv {
    background-image: url('/images/mobileHeader.png');
    height: 562px;
  }
  .servicesFlex {
    display: block;
  }
  .heading1Div h1 {
    margin-top: -25px;
  }
  .servicesColumn {
    height: 150px;
  }
  .servicesMapDiv {
    height: 0;
  }
  .hrVerticalDiv {
    height: 180px;
  }
  .rightVisit p {
    font-size: 23px;
  }
  .rightVisit {
    margin-top: 0;
  }
  .servicesHeading {
    margin-top: 50px;
  }
  .servicesImage1 {
    height: 235px;
  }
  .servicesImage2 {
    height: 235px;
  }
  .servicesImage3 {
    height: 235px;
  }
  .servicesImage4 {
    height: 235px;
  }
  .logoInServices {
    width: 64px;
    height: 20px;
  }
  .logoInBox {
    margin-top: 10px;
  }
  .textInServices p {
    font-size: 23px;
  }
  .textInServices2 p {
    font-size: 12px;
  }
  .textInServices {
    margin-top: 0;
  }
  .headingDealer {
    font-size: 23px;
  }
  .dealerMainDiv {
    background-image: url('/images/mediaDealerImg.png');
    width: 100%;
    height: 336px;
    margin-top: -60px;
  }
  .dealerHr {
    width: 100%;
  }
  .dealerText1 {
    margin-top: 0;
    width: 95%;
    font-size: 12px;
    line-height: 14px;
  }
  .dealerText2 {
    width: 201px;
    font-size: 12px;
    line-height: 15px;
  }
}