.container {
  width: 100%;
  height: 520px;
  margin-top: 200px;
}
.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 520px;
  padding-top: 70px;
  background-color: #1e242c;
  border-top: 1px solid #d69610;
}
.footer_left {
  display: flex;
}
.left_block {
  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 56px;
    color: #d69610;
  }
  p {
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #a7a7a7;
  }
}
.footer_logo {
  width: 116px;
  height: 96px;
  margin-top: 80px;
  position: relative;
}
.link_block {
  margin-left: 160px;
  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    color: #d69610;
  }
  h2 {
    margin-top: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-transform: capitalize;
    color: #a7a7a7;
  }
}
.footer_line3 {
  width: 129px;
  margin-top: 8px;
  border-bottom: 2px solid #d69610;
}
.right_block {
  display: flex;
  justify-content: space-between;
}
.contacts_mainblock {
  margin-left: 90px;
}
.contacts_header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  color: #d69610;
}
.footer_line {
  width: 288px;
  margin-top: 8px;
  border-bottom: 2px solid #d69610;
}
.contact_icon {
  width: 32px;
  height: 32px;
  position: relative;
}
.contacts_block {
  display: flex;
  align-items: center;
  margin-top: 24px;
  h2 {
    margin-left: 26px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-transform: lowercase;
    color: #a7a7a7;
  }
  h4 {
    @extend h2;
    line-height: 31px;
    margin-left: 52px;
  }
}

.address_mainblock {
  margin-left: 150px;
  h1 {
    @extend .contacts_header;
  }
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    text-transform: capitalize;
    color: #a7a7a7;
  }
}
.footer_line2 {
  width: 266px;
  margin-top: 8px;
  border-bottom: 2px solid #d69610;
}
.address_block {
  @extend .contacts_block;
}
.addressblock_btn {
  width: 247px;
  height: 64px;
  margin-top: 40px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  border: 2px solid #d69610;
  border-radius: 3px;
  background-color: transparent;
  color: #d69610;
}
.addressblock_btn:hover {
  background-color: #d69610;
  color: #313d4a;
  cursor: pointer;
}
.copyright {
  height: 64px;
  background-color: #d69610;
  p {
    padding-top: 25px;
    padding-left: 160px;
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    color: #000000;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    height: 541px;
    margin-top: 160px;
  }
  .footer {
    padding-top: 50px;
    height: 541px;
    justify-content: space-around;
  }
  .left_block {
    h1 {
      font-size: 32px;
      line-height: 45px;
    }
    p {
      margin-top: 16px;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .footer_logo {
    width: 116px;
    height: 96px;
    margin-top: 80px;
    position: relative;
  }
  .link_block {
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    h2 {
      margin-top: 16px;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .footer_line3 {
    width: 114px;
  }
  .right_block {
    margin-top: -30px;
    margin-right: 160px;
    flex-direction: column;
    justify-content: space-around;
  }
  .contacts_header {
    font-size: 30px;
    line-height: 30px;
  }
  .footer_line {
    width: 242px;
  }
  .contact_icon {
    width: 24px;
    height: 24px;
  }
  .contacts_block {
    h2 {
      font-size: 16px;
      line-height: 24px;
    }
    h4 {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .address_mainblock {
    margin-left: 90px;
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    h2 {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .footer_line2 {
    width: 229px;
  }
  .address_block {
    @extend .contacts_block;
  }
  .addressblock_btn {
    width: 205px;
    height: 56px;
    font-size: 18px;
    line-height: 18px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    height: 668px;
    margin-top: 100px;
  }
  .footer {
    flex-wrap: wrap;
    padding-top: 40px;
    height: 668px;
  }
  .left_block {
    margin-left: 40px;
    h1 {
      font-size: 28px;
      line-height: 39px;
    }
    p {
      margin-top: 8px;
    }
  }
  .footer_logo {
    width: 64px;
    height: 53px;
  }
  .link_block {
    margin-left: 30px;
  }
  .right_block {
    flex-direction: row;
  }
  .address_mainblock {
    margin-left: 140px;
  }
  .footer_left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 420px) {
  .footer_logo {
    position: absolute;
    bottom: 30px;
  }
  .container {
    height: 1043px;
    margin-top: 70px;
  }
  .footer {
    position: relative;
    padding-top: 30px;
    height: 1043px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .left_block {
    margin-left: 30px;
    h1 {
      font-size: 24px;
      line-height: 34px;
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .footer_logo {
    width: 48px;
    height: 39px;
  }
  .link_block {
    margin-top: 40px;
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .contacts_header {
    font-size: 24px;
    line-height: 30px;
  }
  .right_block {
    flex-direction: column;
  }
  .footer_left {
    flex-direction: column;
  }
  .contacts_mainblock {
    margin-top: 40px;
    margin-left: 30px;
  }
  .address_mainblock {
    margin-top: 40px;
    margin-left: 30px;
  }
}
