* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #313d4a;
}
.mainheader {
  width: 100%;
  height: 1052px;
}

@media screen and (max-width: 1280px) {
  .mainheader {
    height: 720px;
  }
}

@media screen and (max-width: 780px) {
  .mainheader {
    height: 440px;
  }
}

@media screen and (max-width: 420px) {
  .mainheader {
    height: 560px;
  }
}
