.header {
  margin-top: 232px;
  margin-left: 160px;
  display: flex;
}
.image_container {
  width: 788px;
  height: 460px;
  position: relative;
}
.textblock {
  margin-left: 24px;
  margin-top: 70px;
}
.textblock > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textblock > h2 {
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  color: rgba(203, 203, 203, 0.53);
}
.textblock_btn {
  width: 247px;
  height: 64px;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  border: 2px solid #d69610;
  border-radius: 3px;
  background-color: transparent;
  color: #d69610;
}
.textblock_btn:hover {
  background-color: #d69610;
  color: #313d4a;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .header {
    margin-left: 80px;
    margin-top: 78px;
  }
  .image_container {
    width: 662px;
    height: 386px;
  }
  .textblock > h1 {
    font-size: 38px;
    line-height: 57px;
  }
  .textblock > h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .textblock_btn {
    width: 205px;
    height: 56px;
    font-size: 18px;
    line-height: 18px;
  }
}

@media screen and (max-width: 780px) {
  .header {
    margin-top: 25px;
    margin-left: 60px;
    align-items: flex-start;
  }
  .image_container {
    width: 316px;
    height: 184px;
  }
  .textblock {
    margin-top: 0px;
    margin-right: 20px;
  }
  .textblock > h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .textblock > h2 {
    font-size: 14px;
    line-height: 149.5%;
  }
  .textblock_btn {
    width: 203px;
    height: 56px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin: 0 32px;
  }
  .image_container {
    width: 311px;
    height: 181px;
  }
  .textblock {
    margin-top: 34px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .textblock_btn {
    width: 145px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 24px;
  }
}
