.container {
  width: 100%;
  height: 303px;
}
.block {
  width: 1195px;
  height: 303px;
  display: flex;
  margin: 216px auto;
}
.image {
  width: 518px;
  height: 303px;
  position: relative;
}
.text_block {
  padding-top: 60px;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #d69610;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
  h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
}
.todo_block {
  display: flex;
}
.todo_image {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  margin-right: 20px;
  position: relative;
}
.todo_text {
  margin-top: 16px;
  margin-left: 32px;
}
.line_horizontal {
  width: 653px;
  height: 2px;
  margin-top: 16px;
  border-bottom: 2px solid #d69610;
}
.line_vertical {
  width: 2px;
  height: 104px;
  border-left: 2px solid #d69610;
}

@media screen and (max-width: 1280px) {
  .block {
    width: 983px;
    height: 303px;
    margin-top: 50px;
  }
  .image {
    width: 433px;
    height: 253px;
  }
  .line_horizontal {
    width: 525px;
  }
  .text_block {
    padding-top: 54px;
    h1 {
      font-size: 35px;
      line-height: 43px;
    }
    h2 {
      font-size: 24px;
      line-height: 29px;
    }
    h3 {
      font-size: 24px;
      line-height: 29px;
      margin-top: 8px;
    }
  }
  .todo_image {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    height: 175px;
  }
  .block {
    width: 645px;
    height: 144px;
    align-items: center;
    margin-top: 260px;
  }
  .image {
    width: 246px;
    height: 144px;
  }
  .line_horizontal {
    width: 395px;
  }
  .line_vertical {
    height: 83px;
  }
  .text_block {
    h1 {
      font-size: 24px;
      line-height: 29px;
    }
    h2 {
      font-size: 18px;
      line-height: 22px;
    }
    h3 {
      font-size: 18px;
      line-height: 22px;
      margin-top: 8px;
    }
  }
  .todo_text {
    margin-left: 20px;
  }
  .todo_image {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 420px) {
  .block {
    width: 311px;
    height: 285px;
    flex-direction: column;
    margin-top: 740px;
  }
  .line_horizontal {
    width: 311px;
  }
  .line_vertical {
    height: 56px;
  }
  .text_block {
    margin-top: -20px;
    h1 {
      font-size: 20px;
      line-height: 24px;
    }
    h2 {
      font-size: 14px;
      line-height: 17px;
    }
    h3 {
      font-size: 14px;
      line-height: 17px;
      margin-top: 8px;
    }
  }
  .todo_image {
    width: 40px;
    height: 40px;
  }
}
