.container {
  width: 100%;
  height: 460px;
  margin-top: 25px;
}
.mainblock {
  width: 1600px;
  height: 460px;
  margin: 0 auto;
}
.block_header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin-left: 4px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #ffffff;
  }
  .image_icon {
    width: 34px;
    height: 67px;
    position: relative;
  }
}

.imageblock {
  width: 100%;
  height: 300px;
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  margin-left: 24px;
  border-radius: 20px;
  h1 {
    margin-top: 8px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
}
.image_container {
  width: 382px;
  height: 245px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .mainblock {
    width: 1120px;
    height: 338px;
  }
  .block_header {
    h1 {
      font-size: 40px;
      line-height: 60px;
    }
    .image_icon {
      width: 25px;
      height: 50px;
    }
  }

  .imageblock {
    align-items: center;
    height: 206px;
    margin-top: 70px;
  }
  .block {
    margin-left: 20px;
    img {
      width: 265px;
      height: 170px;
    }
    h1 {
      margin-top: 0px;
      font-size: 24px;
      line-height: 36px;
    }
  }
  .image_container {
    width: 265px;
    height: 170px;
  }
}

@media screen and (max-width: 780px) {
  .mainblock {
    width: 656px;
    height: 592px;
  }
  .block_header {
    margin-top: 90px;
    h1 {
      font-size: 32px;
      line-height: 48px;
    }
    .image_icon {
      width: 18px;
      height: 36px;
    }
  }
  .imageblock {
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .block {
    img {
      width: 308px;
      height: 202px;
      margin-top: 24px;
    }
    h1 {
      margin-top: 8px;
      font-size: 24px;
      line-height: 24px;
    }
  }
  .image_container {
    margin-top: 24px;
    width: 308px;
    height: 202px;
  }
}

@media screen and (max-width: 420px) {
  .mainblock {
    width: 312px;
    height: 1088px;
  }
  .block_header {
    h1 {
      font-size: 24px;
      line-height: 24px;
    }
    .image_icon {
      width: 12px;
      height: 24px;
    }
  }
  .imageblock {
    flex-wrap: wrap;
    margin-top: 32px;
  }
  .block {
    margin-left: 0px;
    img {
      width: 311px;
      height: 199px;
      margin-top: 32px;
    }
    h1 {
      margin-top: 8px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .image_container {
    width: 311px;
    height: 199px;
  }
}
