.container {
  width: 100%;
  height: 680px;
  margin-top: 200px;
}
.mainblock {
  width: 1570px;
  height: 680px;
  margin: 0 auto;
}
.block_header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin-left: 4px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #ffffff;
  }
  .image_icon {
    width: 34px;
    height: 67px;
    position: relative;
  }
}
.container_block {
  height: 680px;
  display: flex;
  align-items: flex-start;
  margin-top: 180px;
}
.inf_mainblock {
  display: flex;
  align-items: flex-start;
}
.container_img {
  width: 517px;
  height: 517px;
  position: relative;
}
.contacts_mainblock {
  margin-left: 90px;
}
.contacts_header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  color: #d69610;
}

.contact_icon {
  width: 32px;
  height: 32px;
  position: relative;
}
.contacts_block {
  display: flex;
  align-items: center;
  margin-top: 50px;
  h2 {
    margin-left: 26px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #ffffff;
  }
  h2:hover {
    cursor: pointer;
  }
  h3 {
    @extend h2;
    line-height: 31px;
  }
  p {
    @extend h2;
    text-transform: capitalize;
    line-height: 31px;
  }
  h4 {
    @extend h2;
    line-height: 31px;
    margin-left: 52px;
  }
}
.address_mainblock {
  margin-left: 149px;
  h1 {
    @extend .contacts_header;
    padding-left: 50px;
  }
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    text-transform: capitalize;
    color: #ffffff;
  }
}
.address_block {
  @extend .contacts_block;
  padding-left: 50px;
}
.addressblock_btn {
  width: 247px;
  height: 64px;
  margin-top: 40px;
  margin-right: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  border: 2px solid #d69610;
  border-radius: 3px;
  background-color: transparent;
  color: #d69610;
}
.addressblock_btn:hover {
  background-color: #d69610;
  color: #313d4a;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .container {
    height: 451px;
  }
  .mainblock {
    width: 1072px;
    height: 451px;
  }
  .container_img {
    width: 319px;
    height: 319px;
    position: relative;
  }
  .block_header {
    h1 {
      font-size: 40px;
      line-height: 60px;
    }
    .image_icon {
      width: 25px;
      height: 50px;
    }
  }
  .contacts_header {
    font-size: 30px;
    line-height: 30px;
  }
  .contacts_block {
    h2 {
      font-size: 18px;
      line-height: 18px;
    }
    h3 {
      font-size: 18px;
      line-height: 18px;
    }
    p {
      font-size: 18px;
      line-height: 18px;
    }
    h4 {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .contact_icon {
    width: 28px;
    height: 28px;
  }
  .address_mainblock {
    margin-left: 71px;
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    h2 {
      font-size: 18px;
      line-height: 25px;
    }
  }
  .addressblock_btn {
    width: 205px;
    height: 56px;
    font-size: 18px;
    line-height: 18px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    margin-top: 20px;
  }
  .container_block {
    margin-top: 100px;
  }
  .inf_mainblock {
    flex-direction: column;
  }
  .contacts_mainblock {
    margin-top: 20px;
  }
  .block_header {
    h1 {
      font-size: 32px;
      line-height: 48px;
    }
    .image_icon {
      width: 18px;
      height: 36px;
    }
  }
  .mainblock {
    width: 581px;
    height: 430px;
  }
  .contacts_header {
    font-size: 24px;
    line-height: 24px;
  }
  .container_img {
    width: 319px;
    height: 350px;
    position: relative;
  }
  .contacts_block {
    margin-top: 16px;
    h2 {
      font-size: 16px;
      line-height: 24px;
      margin-left: 15px;
    }
    h3 {
      font-size: 16px;
      line-height: 24px;
      margin-left: 15px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin-left: 15px;
    }
    h4 {
      font-size: 16px;
      line-height: 24px;
      margin-left: 38px;
    }
  }
  .contact_icon {
    width: 24px;
    height: 24px;
  }
  .address_mainblock {
    margin-left: 40px;
    margin-top: 25px;
  }
  .addressblock_btn {
    width: 203px;
    height: 56px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 50px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    margin-top: 100px;
  }
  .mainblock {
    width: 277px;
    height: 658px;
    margin-left: 0px;
  }
  .inf_mainblock {
    flex-direction: column;
    align-items: flex-start;
  }
  .container_block {
    margin-top: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
  .block_header {
    margin-top: 190px;
    margin-left: 80px;
    h1 {
      font-size: 24px;
      line-height: 24px;
    }
    .image_icon {
      width: 12px;
      height: 24px;
    }
  }
  .container_img {
    width: 240px;
    height: 240px;
    position: relative;
    margin-top: 10px;
    margin-left: 60px;
  }
  .contacts_mainblock {
    margin-left: 30px;
  }
  .address_mainblock {
    margin-left: 30px;
    h1 {
      padding-left: 0px;
    }
  }
  .address_block {
    padding-left: 0px;
  }
  .addressblock_btn {
    margin-left: 0px;
  }
}
