.container {
  width: 100%;
  height: 895px;
  margin-top: 200px;
}

.mainblock {
  width: 1492px;
  height: 895px;
  margin: 0 auto;
  position: relative;
}

.block_header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin-left: 4px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #ffffff;
  }
  .image_icon {
    width: 34px;
    height: 67px;
    position: relative;
  }
}
.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1492px;
  height: 732px;
  margin-top: 90px;
  position: relative;
}
.card {
  width: 1492px;
  height: 732px;
  position: relative;
}
.btn_left {
  position: absolute;
  width: 75px;
  height: 150px;
  border-color: #313d4a;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  z-index: 100;
}
.arrow_left {
  width: 75px;
  height: 150px;
  position: relative;
}
.btn_right {
  width: 75px;
  height: 150px;
  margin-left: -77px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border-color: #313d4a;
}
.arrow_right {
  width: 75px;
  height: 150px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .container {
    height: 685px;
  }
  .mainblock {
    width: 1120px;
    height: 685px;
  }
  .carousel {
    width: 1120px;
    height: 553px;
    margin-top: 70px;
  }
  .card {
    width: 1120px;
    height: 553px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    height: 412px;
  }
  .mainblock {
    width: 656px;
    height: 412px;
  }
  .carousel {
    width: 656px;
    height: 324px;
    margin-top: 50px;
  }
  .card {
    width: 656px;
    height: 324px;
  }
  .block_header {
    h1 {
      font-size: 32px;
      line-height: 48px;
    }
    .image_icon {
      width: 18px;
      height: 36px;
    }
  }
}

@media screen and (max-width: 420px) {
  .container {
    width: 311px;
    height: 217px;
    margin-top: 320px;
  }
  .mainblock {
    width: 100%;
    height: 217px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .carousel {
    width: 100%;
    height: 153px;
    margin-top: 50px;
    margin-left: 80px;
  }
  .card {
    width: 100%;
    height: 153px;
  }
  .block_header {
    margin-left: 80px;
    h1 {
      font-size: 24px;
      line-height: 32px;
    }
    .image_icon {
      width: 12px;
      height: 24px;
    }
  }
}
