.container {
  width: 100%;
  height: 592px;
  margin-top: 200px;
}
.mainblock {
  width: 1416px;
  height: 592px;
  margin: 0 auto;
}
.block_header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin-left: 4px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #ffffff;
  }
  .image_icon {
    width: 34px;
    height: 67px;
    position: relative;
  }
}
.text_block {
  display: flex;
  align-items: center;
}
.left_block {
  p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
  }
}
.about_img {
  width: 656px;
  height: 512px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .container {
    height: 551px;
  }
  .mainblock {
    width: 1120px;
    height: 551px;
  }
  .block_header {
    h1 {
      font-size: 40px;
      line-height: 60px;
    }
    .image_icon {
      width: 25px;
      height: 50px;
    }
  }
  .left_block {
    p {
      font-size: 18px;
      line-height: 27px;
    }
  }
  .about_img {
    width: 548px;
    height: 419px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    height: 386px;
  }
  .mainblock {
    width: 656px;
    height: 386px;
  }
  .block_header {
    h1 {
      font-size: 32px;
      line-height: 48px;
    }
    .image_icon {
      width: 18px;
      height: 36px;
    }
  }
  .text_block {
    margin-top: 30px;
  }
  .left_block {
    p {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .about_img {
    width: 316px;
    height: 310px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    margin-top: 300px;
    height: 731px;
  }
  .mainblock {
    width: 311px;
    height: 731px;
  }
  .text_block {
    flex-direction: column-reverse;
  }
  .block_header {
    margin-top: -150px;
    h1 {
      font-size: 24px;
      line-height: 24px;
    }
    .image_icon {
      width: 12px;
      height: 24px;
    }
  }
  .left_block {
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .about_img {
    width: 240px;
    height: 235px;
  }
}
